* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Montserrat', sans-serif;    
    color: black;   
    
}

h1, h2, h3, h4, h5, h6 .letraNav{
    font-family: 'Old Standard TT', serif;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}


/* HEADER*/

.navbar-brand {
    width: 100vw;
    height: 12vh;

}

.navbar-brand img {

    height: 20vh;
    width: 10vw;
    margin-left: 20%;
    margin-top: -4%;
}

nav div ul {
    margin-right: 26vw;
    font-size: 1.3rem;
}


.negrita {
    color: black !important;
    margin-left: 2vw;
}

/* inicio */
/* HERO */

.hero {
    background-image: url("../img/portada 1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;

}

.textoHero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15% 10% 0 10%;
    font-weight: 400;
    font-size: 3rem;
}

/* ASIDE*/

.bienvenidosAside {
    display: flex;
    justify-content: space-around;
    height: 80vh;
    width: 100%;   
    
    margin: 10vh 0;
}

.seccionBienvenidos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50vw;
    height: 100%;

}

.logoBienvenida {
    background-image: url("../img/Logo\ bienvenida.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh; 
    width: 68%;
    margin-left: 14%;
    margin-top: 5vh;
}

.bienvenidos {
    text-align: center;
    font-size: 2rem;
    padding: 0;
    margin: 2% 2%;
    
}

.textoBienvenida {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 6%;
    padding: 0 8% 2% 8%;

}

.asideInicio {
    height: 50%;
    width: 50%;
}

.asideInicio img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;    
    width: 100%;

    border-radius: 2%;

}




/* tratamiento */


#tratamientos {
    display: flex;
    justify-content: center;
    align-items: center;    
    margin: 2% 0;

    font-weight: 400;
}

.tratamientoConteiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "uñas pestañas cejas"
    "picUñas picPestañas picCejas";

    row-gap: 1%;
    margin-bottom: 5%;

}


.uñas {
    grid-area: uñas;
    background-image: url("../img/cartas\ tratatamientos.jpg");
    border-radius: 4%;
    margin: 0 12%;
    height: 40vh;
    width: 25vw;

    text-align: center;
    font-size: 1.4rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    

}

.pestañas {
    grid-area: pestañas;
    background-image: url("../img/cartas\ tratatamientos.jpg");
    border-radius: 4%;
    margin: 0 12%;
    height: 40vh;
    width: 25vw;

    text-align: center;
    font-size: 1.4rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.cejas{
    grid-area: cejas;
    background-image: url("../img/cartas\ tratatamientos.jpg");
    border-radius: 4%;
    margin: 0 12%;
    height: 40vh;
    width: 25vw;
    text-align: center;
    font-size: 1.4rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.fotoUñas {
    grid-area: picUñas;
}

.fotoPestaña {
    grid-area: picPestañas;
}

.fotoCejas {
    grid-area: picCejas;

}

.tratamientosItem{
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 1% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
}

.imgTratamiento {
    border-radius: 4%;

    height: 40vh;
    width: 25vw;
}

.fotoCejas:hover {
    transform: scale(1.1);
}

.fotoPestaña:hover{
    transform: scale(1.1);
}

.fotoUñas:hover{
    transform: scale(1.1);
}

/* Nosotros */

.nosotros {
    display: grid;
    grid-template-columns: repeat(2. 1fr);
    grid-template-areas: 
    "imagen conocenos";
    
    margin-bottom: 5vh;
}

.divImgNosotros {
    grid-area: imagen;
}

.imgNosotros {
    width: 50vw;
    border-radius: 2%;
}

.asideNosotros {
    grid-area: conocenos;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 0 10%;
}

aside p {
    font-size: 1.2rem;
}

/* Turnos */

.ubicacionConteiner {

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

   margin-top: 1%;
}


.encontranos {
    height: 80vh;
    width: 45%;


    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-right: 2%;

    background-image: url(../img/cartas\ tratatamientos.jpg);
    border-radius: 2%;

}

.encontranos p {
    font-size: 1.4rem;
}


.mapa {
    width: 45%;
    height: 80vh;
}

.mapa iframe {
    width: 100%;
    border-radius: 2%;

}

.botonTurnos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4%;
}
/* Contactos*/

.titleContacto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 0 0 2%;
}

.form {
    display: flex;
    justify-content: space-evenly;
    
    margin: 2% 0;
}

.logoMailForm {
    height: 4vh;
    
}

.contactoForm {
    background-image: url("../img/cartas\ tratatamientos.jpg");
    height: 48vh;
    width: 48vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    border-radius: 2%;

    padding: 2%;
}

.formContacto input {
    width: 100% ;
    padding: 0 2%;
    border-radius: 2%;

}

input {
    margin: 0 1%;

}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}

.contactoWp {
    background-image: url("../img/cartas\ tratatamientos.jpg");
    height: 48vh;
    width: 20vw;
    border-radius: 2%;


    text-align: center;
    font-size: 1.4rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding: 2%;
    margin-right: 4%;
}


.contactoInsta {
    background-image: url("../img/cartas\ tratatamientos.jpg");
    height: 48vh;
    width: 20vw;
    border-radius: 2%;


    text-align: center;
    font-size: 1.4rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    padding: 2%;
    margin-left: 4%;
}    

.contactoInsta p {
    padding: 2%

}



.logoSocial {
    height: 7vh;

}

/* botones */

.boton {
    background-color: #FAEBCD;
    font-size: 1rem;
    margin: 2% 0;
}


/* FOOTER  */



.footerConteiner {
    background-color: #FEE3EC;
    font-family: 'Old Standard TT', serif;

    height: 40vh;
    padding: 3%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "mapa mail pagos"
    "footer footer footer";
}

.footerItem {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.footerMapa {
    grid-area: mapa;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.footerMapa img{
    height: 7vh;
    width: 5vw;
    margin: 5%;
}

nav ul li{
    list-style: none;
}

.footerMail {
    grid-area: mail;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerMail img {
    height: 6vh;
    width: 4vw;
    margin: 5%;
}

.footerPago {
    grid-area: pagos;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 30vw;
    height: 20vh;
}


.logoMp {
    grid-area: mp;
}


.medioPago {
    grid-area: pagos;
    margin-top: 2%;
}

.footerPago img {
    height: 7vh;
    width: 5vw;
    margin-top: 2%;
}



.footer {
    grid-area: footer;
    margin-top: 2%;
}

    /* MEDIA QUERIES*/

@media screen and (max-width: 1204px) {
    
    .navbar-brand {
        width: 100vw;
        height: 12vh;
    }

    .navbar-brand img {
        margin-top: -8%;
    }
    
    nav div ul {
        margin-right: 20vw;
        font-size: 1.3rem;
    }
    

    .fotoNav {
        width: 50%;
    }

    nav div ul {
        margin-left: 4%;
    }



    /* nosotros */

    .divImgNosotros {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .imgNosotros {
        height: 55vh;
    }

    .asideNosotros h1 {
        font-size: 1.8rem;
    }

    .asideNosotros h2 {
        font-size: 1.5rem;
    }

    .asideNosotros p {
        font-size: 1.2rem;
    }

    /* turno */

    /* Contacto */

    .contantosConteiner {
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        align-items: center;
        text-align: center;        
        margin-bottom: 10vh;
    }
    
    .contactoForm {
        background-size: contain;
        height: 50vh;
    }

    .contactoWp, .contactoInsta {
        width: 24vw;
    }


}

@media screen and (max-width: 991px) {
    .navbar-brand img {
        margin-top: -3%;
    }
}

@media screen and (max-width: 990px){

    .navbar-brand img {
        margin-top: -3%;
    }

    .fotoNav {
        width: 50%;
    }

    div .headerWp {
        height: 12vh;
        margin-left: 2%;
    }

    /* inicio */

    .logoBienvenida {
        height: 30vh; 
        width: 80%;
        margin-left: 6%;
    }

    /* nosotros */

    .asideNosotros {
        height: 55vh;
        padding: 2% 4%;
    }
 
    .imgNosotros {
        height: 55vh;
    }

    .asideNosotros h1 {
        font-size: 1.8rem;
    }

    .asideNosotros h2 {
        font-size: 1.5rem;
    }

    .asideNosotros p {
        font-size: 1.1rem;
    }

    /* turnos */

    .ubicacionConteiner {
        margin-right: 1%;
        width: 100%;
}

    .encontranos {
        width: 45%;
        padding: 0 2%;
        margin-right: 1%;
    }

    .encontranos h1 {
        font-size: 1.8rem;
    }

    .encontranos h2 {
        font-size: 1.5rem;
    }

    .encontranos p {
        font-size: 1.3rem;
    }

    .mapa {
        width: 45%;
    }

    iframe {
        width: 100%;
    }

    /* contacto */


    .contactoForm  {
        width: 48vw;
    }

}

@media screen and (max-width: 850px) {

    /* contacto */

    .contactoInsta p, .contactoWp p {
        font-size: 1rem;
    }

    /* footer */

    .footerMapa img {
        height: 7vh;
        width: 7vw;       
    }

    
    .footerMail img {
        height: 7vh;
        width: 7vw; 
    }

    .footerPago {
        margin-top: 8%;
    }

    .footerPago img {
        height: 7vh;
        width: 7vw; 
    }
}


@media screen and (max-width: 769px) {
    
    .navbar-brand img {
        width: 15vw;
        margin-top: -4%;
    }

    div .headerWp {
        height: 12vh;
        margin-left: 2%;
    }

    .divMenu ul li a {
        width: 5vw;
        height: 5vh;
    }

    .divMenu {
        margin-left: -8%;
    }



    header nav ul li a {
        width: 10%;
        height: 5%;
    }


    /* index */

    .textoHero {
        padding: 20% 5% 0 5%;
    }

    .bienvenidosAside {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 120vh;

        margin-bottom: 10%;
    }

    .seccionBienvenidos {
        height: 60%;
        width: 100%;
    }

    .logoBienvenida {
        height: 25vh; 
        width: 40vw;
        margin: 0 0 0 31%;

    }


    .textoBienvenida {
        margin: 0 5% 4% 5%;
        padding: 4%;
    }

    .asideInicio {
        width: 100%;
        height: 50%;
    }

    .asideInicio  img {
        width: 90%;
        height: 50vh;
        margin: 0 5%;
    }

    .imgAside {
        height: 10vh;
    }
    

    /* tratamientos */

    #tratamientos {
        margin-top: 10vh;
    }

    .tratamientoConteiner {
        height: 15vh;
        width: 100vw;
        padding-bottom: 35%;
        margin: 10vh -3vw 50vh -3vw;
    }


    .tratamientosItem {
        margin-top: 50%;
        font-size: 1.5rem;
    }

    .cartas p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cejas .pestañas .uñas {
        height: 20vh;
    }

    .imgTratamiento {
        margin-top: -30%;
        height: 30vh;
    }

    /* nosotros */



    .imgNosotros {
        height: 55vh;
    }

    .asideNosotros h1 {
        font-size: 1.5rem;
    }

    .asideNosotros h2 {
        font-size: 1.2rem;
    }

    .asideNosotros p {
        font-size: 1rem;
    }

    /* ubicacion */   
    
    .ubicacionConteiner {
        display: flex;
        flex-direction: column;

        width: 98%;
        margin: 0 2%;
    }

    .encontranos {
        width: 80vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .mapa {
        width: 80vw;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    iframe {        
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 98vw;

    }

    /* contacto */

    .contactoForm {
        height: 50vh;
        width: 48vw;
    }


    /* footer */

    .footerItem {
        font-size: 0.9rem;
    }

    .footerConteiner {
        width: 97.3vw;
        height: 40vh;
    }

    .footerMapa img {
        width: 8vw;
        height: 6vh;
    }

    .footerMail img {
        width: 8vw;
        height: 6vh;
    }

    .logoMp {
        height: 8vh;
        width: 6vw;
    }

}


@media screen and (max-width: 650px) {
    
    .navbar-brand img {
        width: 18vw;
    }

    /* nosotros */

    .nosotros {
        padding: 2%;
    }

    .asideNosotros h1 {
        font-size: 1.2rem;
    }
    
    .asideNosotros h2 {
        font-size: 1rem;
    }
    
    .asideNosotros p {
        font-size: 0.8rem;
    }

    /* contacto */

    .contactoInsta p, .contactoWp p {
        font-size: 0.8rem;
    }

    /* footer */

    .footerConteiner {
        width: 97vw;
        height: 64vh;

        display: flex;
        flex-direction: column;
    }

    .footerPago {
        width: 100%;
        margin: 0;
    }

}

@media screen and (max-width: 570px){
    body {
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
    }
    
    /* header */

    .navbar-brand img {
        width: 20vw;
    }

    .tratamientoConteiner {
        margin-bottom: 65%;
    }

    /* Bienvenidos */

    .logoBienvenida img {
        height: 100vh;
        width: 100%;
        padding-top: 0%;
    }

    /* tratamientos */

    .tratamientoConteiner {
        width: 90%;
        height: 100%;
        margin: 0 4%;
    }

    .uñas p, .pestañas p, .cejas p{
        font-size: 1rem;
    }

    .tratamientosItem h2, .tratamientosItem p {
        font-size: 1.5rem;
    }


    /* nosotros */

    .nosotros {
        margin-top: -10vh;
    }

    .imgNosotros {
        height: 55vh;
    }

    .asideNosotros {
        height: 55vh;
    }
    
    .asideNosotros h1 {
        font-size: 1.2rem;
    }
    
    .asideNosotros h2 {
        font-size: 1rem;
    }
    
    .asideNosotros p {
        font-size: 0.8rem;
    }

    /* contacto */

    .contactoWp, .contactoInsta {
        width: 25vw;
    }

    /* footer */

    .footerItem {
        width: 90vw;
    }

    .contactoForm {
        background-size: contain;
        height: 50vh;
        width: 50vw;
    }

    .footerConteiner {
        width: 96.7vw;
        height: 60vh;

        display: flex;
        flex-direction: column;
    }


}


@media screen and (max-width: 480px) {
    
    /* header */

    .navbar-brand img {
        height: 18vh;
        width: 25vw;
    }

    nav .headerWp {
        margin-left: 0%;
        height: 10vh;
    }
      

    /* Index */

        

    .textoHero {
        padding: 54% 5%;
    }


    /* tratamiento */

    #tratamientos {
        margin-top: 8%;
    }

    .tratamientoConteiner {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "uñas"
        "picUñas"
        "pestañas"
        "picPestañas"
        "cejas"
        "picCejas";


        padding-bottom: 30%;
    }

    .uñas {
        height: 48vh;
        width: 51vw;
        grid-area: uñas;
        margin-top: 10%;
        margin-left: 25%;
    

        font-size: 1rem;
    }


    .fotoUñas {
        width: 75vw;
        grid-area: picUñas;
        margin-top: 26%;
        margin-left: 2%;
    }

    .pestañas {
        height: 48vh;
        width: 51vw;
        grid-area: pestañas;
        margin-left: 25%;
        margin-bottom: -32%;

        font-size: 1rem;

    }

    .fotoPestaña {
        width: 75vw;
        grid-area: picPestañas;
        margin-left: 2%;
        padding-top: 10%;
    }

    .cejas {
        width: 51vw;
        height: 48vh;
        grid-area: cejas;
        margin-left: 25%;
        margin-bottom: -32%;
        font-size: 1rem;

    }

    .fotoCejas {
        width: 50vw;
        grid-area: picCejas;
        margin-left: 20%;
        padding-top: 10%;
    }

    .uñas h2, .cejas h2, .pestañas h2{
        margin-bottom: 24%;
}

    .uñas p, .cejas p, .pestañas p{
        margin-bottom: 22%;
        
    }

    .imgTratamiento{
        width: 56vw;
        margin-left: 24%;

    }



    /* contacto */

    .ubicacionConteiner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10vh;

        padding: 2%;
    }


    .contactoForm {
        width: 55vw;
        height: 55vh;
    }

    .social {
        display: flex;
        flex-direction: column;
    }
    
    .contactoWp {

        width: 55vw;
        height: 55vh;
        margin: 5% 0 5% 0;
    }

    .contactoInsta {
        width: 55vw;
        height: 55vh;
        margin: 5% 0 5% 0;

    }

    /*turnos*/

    .encontranos h1 {
        font-size: 1.4rem;
    }
    
    .encontranos h2 {
        font-size: 1.2rem;
    }
    

    .encontranos p {
        font-size: 1rem;
    }
    

    /* nosotros */

    .nosotros {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imgNosotros {
        width: 90vw;
        border-radius: 2%;
    }

    .asideNosotros {
        height: 44vh;
    }


    /* footer */

    .footerConteiner {
        height: 72vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 2%;
    }

    .footerMapa, .footerMail, .footerPago {
        margin: 4% 0;
    }
}

@media screen and (max-width: 414px) {
        /* nosotros */

        .nosotros {
            margin-top: 5vh;
        }
    
    /* contacto */
    
        .contactoForm {    
            width: 80vw;
        }

        .form {    
            width: 80vw;
        }

            
        .social {
            display: flex;
            flex-direction: column;
        }
                
        .contactoWp {
            
            width: 80vw;
        }
            
         .contactoInsta {
            width: 80vw;    
        }


        /* footer */
    
        .footerMapa img{
            height: 8vh;
            width: 14vw;
            margin: 5%;
        }
    
        .footerMail img {
            height: 8vh;
            width: 14vw;
            margin: 5%;
        }
    
        .footerPago img {
            height: 8vh;
            width: 14vw;
            margin-top: 2%;
        }
}


@media screen and (max-width: 320px) {

     /* header */

     .navbar-brand img {
        height: 18vh;
        width: 30vw;
    }

    nav .headerWp {
        margin-left: 0%;
        height: 10vh;
    }
    
    /* bienvenidos */

    .logoBienvenida {
        height: 70%;
        width: 80%;
        margin: 15% 0 0 8%;
        padding-left: 2%;
    }

    .bienvenidos h3 {
        padding: 0 20%;
        font-size: 1.2rem;
    }

    .textoBienvenida {
        font-size: 1rem;
    }

    /* nosotros */

    .nosotros {
        margin-top: 5vh;
    }

    /* contacto*/

        /* contacto */
    
        .contactoForm {
            width: 70vw;
        }
    
        .social {
            display: flex;
            flex-direction: column;
        }
        
        .contactoWp {
    
            width: 70vw;
        }
    
        .contactoInsta {
            width: 70vw;    
        }

    /* footer */

    .footerMapa img{
        height: 8vh;
        width: 14vw;
        margin: 5%;
    }

    .footerMail img {
        height: 8vh;
        width: 14vw;
        margin: 5%;
    }

    .footerPago img {
        height: 8vh;
        width: 14vw;
        margin-top: 2%;
    }
    
}